.product__media-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  margin: 0;
  max-width: 38.6rem;
  min-width: 30rem;
}

.product__media-item {
  height: auto;
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius-main);
}

.product__media-icon .icon {
  width: 1.4rem;
  height: 1.4rem;
  color: rgb(var(--color-foreground));
}
@media screen and (min-width: 1100px) {
  .product__media-icon .icon.icon-plus-zoom {
    display: none;
    opacity: 0;
  }
}

.product__media-icon {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgb(var(--color-border));
  border-radius: 50%;
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  right: 2rem;
  top: 1.6rem;
  pointer-events: none;
  z-index: 1;
  transition: color var(--duration-short) ease, opacity var(--duration-short) ease;
}
@media (min-width: 990px) {
  .product__media-icon {
    height: 4.8rem;
    width: 4.8rem;
    background-color: transparent;
    border-color: transparent;
  }
}
@media (min-width: 1100px) {
  .product__media-icon {
    left: 14.3%;
    right: unset;
    top: unset;
    bottom: 22%;
  }
}
.product__media-icon svg {
  width: 60%;
  height: 60%;
}

.product__media-video .product__media-icon {
  opacity: 1;
}

.product__modal-opener {
  height: 100%;
}
.product__modal-opener--video .product__media-toggle, .product__modal-opener--external_video .product__media-toggle, .product__modal-opener--model .product__media-toggle {
  pointer-events: none;
}

@media screen and (min-width: 990px) {
  .product__media-icon {
    opacity: 0;
  }

  .product__modal-opener:hover .product__media-icon,
.product__modal-opener:focus .product__media-icon {
    opacity: 1;
  }
  .product__modal-opener:hover .product__media-icon .icon-plus-zoom,
.product__modal-opener:focus .product__media-icon .icon-plus-zoom {
    opacity: 0;
  }
}
.product__media-item > * {
  display: block;
  position: relative;
}

.product__media-toggle {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  cursor: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.9996 9.60001L23.9996 38.4M38.3996 24L9.59961 24" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') 20 20, auto;
}

.product-media-modal {
  background-color: rgb(var(--color-background));
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.product-media-modal__toggle {
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  z-index: 5;
  border: none;
}
@media screen and (min-width: 1100px) {
  .product-media-modal__toggle {
    top: 1.6rem;
    right: 4rem;
  }
}
.product-media-modal__toggle .icon-close {
  color: rgb(var(--color-foreground-secondary));
}
.product-media-modal[open] {
  visibility: visible;
  opacity: 1;
  z-index: 999999;
}
.product-media-modal__dialog {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.product-media-modal__content, .product-media-modal__model {
  width: 100%;
  height: 100%;
}
.product-media-modal__content .swiper-slide, .product-media-modal__model .swiper-slide {
  text-align: center;
}
.product-media-modal__content .swiper-slide img, .product-media-modal__model .swiper-slide img {
  width: 100%;
  max-width: 100%;
  height: 60%;
  object-fit: cover;
}
@media (min-width: 750px) {
  .product-media-modal__content .swiper-slide img, .product-media-modal__model .swiper-slide img {
    height: 100%;
  }
}
.product-media-modal__content {
  cursor: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.9996 9.60001L23.9996 38.4M38.3996 24L9.59961 24" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') 20 20, auto;
}
.product-media-modal__content.zoom .swiper-slide-active {
  overflow-y: auto;
}
.product-media-modal__content.zoom .swiper-slide-active .js-image-zoom {
  transform: translateY(-25%) scale(1.5);
}
.product-media-modal__content .swiper-slide > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.product-media-modal .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(var(--color-foreground-tertiary)) !important;
}

.product .product__media-list {
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius-main);
}
@media screen and (max-width: 990px) {
  .product .product__media-list .deferred-media {
    position: absolute;
    inset: 0;
  }
  .product .product__media-list .deferred-media img {
    position: absolute;
    inset: 0;
  }
}
.product .product__media-list .product__media {
  background-color: rgb(var(--color-background));
  position: relative;
  display: flex;
}
.product .product__media-list .product__media::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: var(--aspect-ratio);
}
.product .product__media-list .product__media img {
  display: block;
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
}
@media screen and (min-width: 991px) {
  .product .product__media-list,
  .product__outer--thumbs-aside .product__media-list,
  .product__outer--thumbs-aside .product__media-list .product__media {
    width: 100%;
    max-width: 100% !important;
    min-width: 0 !important;
    max-height: 100% !important;
  }

  .product .product__media-list-wrapper {
    width: 100%;
  }



  .product__outer--thumbs-aside .product__media-list::-webkit-scrollbar {
    width: 0.6rem;
  }

  .product__outer--thumbs-aside .product__media-list::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-border));
    border-radius: 1rem;
  }

  .product .product__media-list .product__media::after,
  .product__outer--thumbs-aside .product__media-list .product__media::after {
    display: none;
  }

  .product__outer--thumbs-aside .product__media-list .swiper-wrapper,
  .product__outer--thumbs-aside .product__media-list .swiper-slide,
  .product__outer--thumbs-aside .product__media-list .product__media {
    height: auto !important;
  }

  .product__outer--thumbs-aside .product__media-list .product__media > *:not(.deferred-media__poster-button) {
    position: relative;
    inset: auto;
    height: auto;
  }

  .product .product__media-list .product__media img,
  .product .product__media-list .deferred-media img,
  .product .product__media-list .deferred-media__poster img {
    position: relative;
    inset: auto;
    height: auto;
    width: 100% !important;
    object-fit: contain !important;
    object-position: center !important;
    background-color: rgb(var(--color-background));
  }
}
@media screen and (max-width: 990px) {
  .product .product__media-list .product__media img {
    object-fit: contain !important;
    background-color: rgb(var(--color-background));
  }

  .product .product__media-list .deferred-media img,
  .product .product__media-list .deferred-media__poster img,
  .product img {
    object-fit: contain !important;
    object-position: center !important;
  }

  .product__outer--thumbs-aside .product__media-list .swiper-wrapper,
  .product__outer--thumbs-aside .product__media-list .swiper-slide {
    height: auto !important;
  }
}
.product .product__media-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media (min-width: 990px) {
  .product .product__media-list-wrapper {
    gap: 0.8rem;
    flex-direction: row;
  }
}
.product__media-sublist-outer {
  order: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.product__media-sublist-outer.swipper-arrows--hidden .swiper-buttons__wrapper {
  display: none !important;
}
.product__media-sublist-outer.swipper-arrows--hidden .product__media-sublist--wrapper {
  padding: 0 !important;
}
@media (min-width: 990px) {
  .product__media-sublist-outer {
    order: 0;
    width: 6.2rem;
    max-width: 6.2rem;
    min-height: 100%;
  }
}
@media (min-width: 1100px) {
  .product__media-sublist-outer {
    order: 0;
    min-height: 100%;
  }
}
.product .product__media-sublist--wrapper {
  padding: 4rem 0;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 990px) {
  .product .product__media-sublist--wrapper {
    padding: 1rem 0;
    max-width: 38.6rem;
    min-width: 30rem;
  }
}
.product .swiper-autoheight .swiper-slide {
  height: 100% !important;
}
.product__media-sublist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 438px;
}
.product__media-sublist.swipper-arrows--hidden .swiper-buttons__wrapper {
  display: none !important;
}
.product__media-sublist.swipper-arrows--hidden .product__media-sublist--wrapper {
  padding: 0 !important;
}
@media screen and (max-width: 990px) {
  .product__media-sublist {
    height: auto !important;
  }
  .product__media-sublist .swiper-wrapper {
    height: auto;
  }
}
@media screen and (min-width: 990px) {
  .product__media-sublist .swiper-wrapper {
    height: auto;
    max-height: 518px !important;
    width: auto;
    border-radius: var(--border-radius-main);
    overflow: visible;
  }
}
@media screen and (min-width: 990px) and (max-width: 991px) {
  .product__media-sublist {
    align-items: flex-start;
  }
}
.product__media-sublist.no-js-flex {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;
  width: 100%;
  height: auto;
  padding-left: 0;
  margin: 0;
}
.product__media-sublist.no-js-flex .product__media-subitem {
  width: 100%;
  padding-left: 0;
  height: auto;
  border-radius: var(--border-radius-main);
  cursor: default;
  max-width: 6.1rem;
  overflow: visible;
}
.product__media-sublist.no-js-flex .product__media-subitem:hover {
  border: none;
  outline: none;
}
.product__media-sublist.no-js-flex .product__media-subitem:hover .product__media img {
  outline-color: transparent;
}
.product__media-sublist:not(.swiper-initialized) .product__media-subitem {
  overflow: visible;
}
.product__media-subitem {
  box-sizing: border-box;
  overflow: visible;
  cursor: pointer;
  cursor: pointer;
  transition: var(--duration-default);
  height: auto !important;
  max-height: 8.15rem;
  width: 6.1rem;
}
@media screen and (max-width: 990px) {
  .product__media-subitem {
    max-height: 9.15rem;
  }
}
.product__media-subitem:hover {
  opacity: 1;
}
.product__media-subitem.swiper-slide-thumb-active {
  opacity: 1;
}
.product__media-subitem:not(.swiper-slide-thumb-active) {
  opacity: 0.5;
}
.product__media-subitem .product__media {
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.product__media-subitem .product__media::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: var(--aspect-ratio);
}
.product__media-subitem .product__media img {
  display: block;
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  border-radius: 8px;
}
.product__slider-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  flex-direction: column;
  height: 100%;
  padding: 0;
  transform: translateX(0);
}
@media screen and (max-width: 989px) {
  .product__slider-nav {
    display: none;
  }
}
.product__slider-nav .swiper-buttons__box {
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.product__slider-nav .swiper-buttons__box .swiper-button.swiper-button-next {
  margin-right: 0;
}
.product__slider-nav .swiper-buttons__box .swiper-button-prev span {
  transform: rotate(-90deg);
}
.product__slider-nav .swiper-buttons__box .swiper-button-next span {
  transform: rotate(90deg);
}
.product__slider-nav.product__slider-nav--popup {
  flex-direction: row;
  transform: translateX(0%);
  align-items: center;
  left: auto;
}
.product__slider-nav.product__slider-nav--popup .swiper-buttons__box {
  flex-direction: row;
  width: 100%;
}
.product__slider-nav.product__slider-nav--popup .swiper-button-prev span {
  transform: rotate(-270deg);
}
.product__slider-nav.product__slider-nav--popup .swiper-button-next span {
  transform: rotate(0deg);
}
.product__slider-nav .swiper-button-prev,
.product__slider-nav .swiper-button-next {
  pointer-events: all;
  background: #202020;
  margin-left: 0;
  height: 3.2rem;
  width: 3.2rem;
}
.product__slider-nav .swiper-button-prev span,
.product__slider-nav .swiper-button-next span {
  color: rgb(var(--color-foreground-secondary));
}
.product__slider-nav .swiper-button-prev span svg path,
.product__slider-nav .swiper-button-next span svg path {
  transform: scale(0.6);
  transform-origin: center;
}
.product img {
  object-fit: var(--image-fit) !important;
}

.product__outer--thumbs-aside {
  justify-content: flex-start;
}
.product__outer--thumbs-aside .product__media-list {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  flex-grow: 1;
  border-radius: var(--border-radius-main);
}
/* @media screen and (max-width: 1360px) {
  .product__outer--thumbs-aside .product__media-list {
    max-width: 34.6rem;
  }
}
@media screen and (max-width: 1200px) {
  .product__outer--thumbs-aside .product__media-list {
    max-width: 31.6rem;
  }
}
@media screen and (max-width: 1100px) {
  .product__outer--thumbs-aside .product__media-list {
    max-width: 36.6rem;
  }
}
@media screen and (max-width: 990px) {
  .product__outer--thumbs-aside .product__media-list {
    max-width: 38.6rem;
  }
} */
@media screen and (max-width: 635px) {
  .product__outer--thumbs-aside .product__media-list {
    max-width: 48rem;
  }
}
@media screen and (max-width: 520px) {
  .product__outer--thumbs-aside .product__media-list {
    max-width: 38rem;
  }
}
@media screen and (max-width: 375px) {
  .product__outer--thumbs-aside .product__media-list {
    max-width: 34rem;
  }
}
.product__outer--thumbs-aside .product__media-list .deferred-media,
.product__outer--thumbs-aside .product__media-list .product__media {
  border-radius: var(--border-radius-main);
  overflow: hidden;
}
@media screen and (max-width: 990px) {
  .product__outer--thumbs-aside .product__media-list .swiper-wrapper {
    height: 518px;
  }
}
@media screen and (min-width: 990px) {
  .product__outer--thumbs-aside .product__media-list .swiper-wrapper {
    height: 518px;
  }
}
.product__outer--thumbs-aside .product__media-list .product__media {
  min-height: 0;
  height: 100%;
  max-width: 100%;
  min-width: 30rem;
  border-radius: var(--border-radius-main);
  overflow: hidden;
  display: flex;
}
.product__outer--thumbs-aside .product__media-list .product__media::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: var(--aspect-ratio);
}
@media (min-width: 990px) {
  .product__outer--thumbs-aside .product__media-list .product__media {
    max-width: 38.3rem;
  }
}
@media (min-width: 1100px) {
  .product__outer--thumbs-aside .product__media-list .product__media {
    max-width: 38rem;
  }
}
.product__outer--thumbs-aside .product__media-list .product__media > *:not(.deferred-media__poster-button) {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.product__outer--thumbs-aside .product__pagination-wrapper {
  display: none;
}
.product__outer--thumbs-aside .product__modal-opener--image .product__media-icon {
  right: 2rem;
  top: 1.6rem;
  left: unset;
  bottom: unset;
}
.product__outer--thumbs-aside .deferred-media__poster {
  padding-top: 0 !important;
  height: 100% !important;
  min-height: auto !important;
}

.swiper-button span {
  color: rgb(var(--color-accent)) !important;
}

.product-media-modal .swiper-button span {
  color: rgb(var(--color-accent));
}
.product-media-modal .swiper-button-prev svg {
  transform: rotate(90deg);
}
.product-media-modal .swiper-button-next {
  margin: 0;
}

.product-media-modal__content .swiper-slide > img {
  object-fit: var(--image-fit-modal) !important;
}

.swipper-arrows-parent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.product__media-wrapper {
  position: sticky;
  top: var(--header-height);
  left: 0;
}