.deferred-media__poster {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.media > .deferred-media__poster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deferred-media__poster img {
  width: auto;
  height: 100%;
}

.deferred-media {
  overflow: hidden;
}

/* .product__media-list {
  max-height: 517px;
} */

.deferred-media__poster {
  aspect-ratio: 3/4;
}

.deferred-media:not([loaded]) template {
  z-index: -1;
}

.product-media-modal .product-media-modal__model .deferred-media img {
  object-fit: contain;
}

.deferred-media__poster:focus {
  outline-offset: 0.1rem;
}

.deferred-media__poster-button {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgb(var(--color-border));
  border-radius: 50%;
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.2rem;
  width: 6.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration-short) ease, color var(--duration-short) ease;
  z-index: 1;
}

.deferred-media__poster-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.deferred-media__poster-button .icon {
  width: 2rem;
  height: 2rem;
}

.deferred-media__poster-button .icon-play {
  margin-left: -0.2rem;
}

.deferred-media__poster-button {
  display: none;
}
@media (min-width: 990px) {
  .deferred-media__poster-button {
    display: flex;
    width: 4.4rem;
    height: 4.4rem;
  }
}
.deferred-media__poster-button svg {
  color: rgb(var(--color-foreground));
}

.deferred-media:not([loaded]) template {
  z-index: -1 !important;
}