.collection-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.6rem;
}
@media (min-width: 750px) {
  .collection-grid__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .collection-grid__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.collection-grid .magnetic-hover-effect::after {
  width: 100%;
  height: 100%;
}
.collection-grid__item {
  border-radius: var(--border-radius-main);
  transform: scale(1);
  transform: translateZ(0);
  transition: transform var(--duration-default) ease, border-color var(--duration-default) ease-in-out, box-shadow 0.3s !important;
}
.collection-grid__item:hover {
  transform: scale(1.02);
}
@media screen and (max-width: 990px) {
  .collection-grid__item.magnetic-hover-effect {
    box-shadow: none !important;
    transition: none !important;
  }
}
.collection-grid__item .collection-card {
  padding: 2.4rem 3rem;
}
.collection-grid__item .collection-card__content {
  margin-top: unset;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 1.6rem;
}
.collection-grid__item .collection-card__content .collection-card__title {
  text-transform: var(--font-heading-text-transform);
}
.collection-grid__item .collection-card__content .collection-card__title,
.collection-grid__item .collection-card__content .collection-card__desc {
  text-align: center;
}
.collection-grid__item .collection-card__content .collection-card__desc {
  max-width: 40rem;
  margin-bottom: 1.6rem;
}
.collection-grid__item:first-child .collection-card .collection-card__content .collection-card__desc {
  margin-bottom: 2.4rem;
}
@media (min-width: 750px) {
  .collection-grid__item--1 {
    grid-column: 1/3;
  }
}
@media (min-width: 990px) {
  .collection-grid__item--1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .collection-grid__item--1 .collection-card {
    padding-top: 4.8rem;
  }
}
@media (min-width: 750px) {
  .collection-grid__item--4 {
    grid-column: 1/3;
  }
}
@media (min-width: 990px) {
  .collection-grid__item--4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .collection-grid__item--4 .collection-card__content {
    width: unset;
    justify-content: center;
  }
}
@media (min-width: 990px) {
  .collection-grid__item:nth-child(4) .collection-card__content {
    max-width: 50%;
  }
}
.collection-grid__item:nth-child(4) .collection-card .collection-card__img img,
.collection-grid__item:nth-child(4) .collection-card .collection-card__img svg,
.collection-grid__item:nth-child(4) .collection-card .collection-card__img .placeholder {
  object-position: right;
}
@media (min-width: 1100px) {
  .collection-grid__item:nth-child(1) .collection-card .collection-card__content .collection-card__desc {
    font-size: 1.8rem;
  }
}