.categories-list__content .categories-list__wrapper {
  gap: 1.4rem;
  grid-auto-rows: 1fr;
  box-sizing: border-box;
}

.collection_list__item-desc {
  overflow-wrap: anywhere;
}

.main-collection-page-header {
  margin: 2.4rem 0 !important;
}

.main-collection-page-descr {
  text-align: left;
  max-width: 39.1rem;
  margin: 0;
}
.main-collection-page-descr:not(:first-child) {
  margin-top: 0.8rem;
}

@media screen and (max-width: 990px) {
  .categories-list .magnetic-hover-effect {
    box-shadow: none !important;
    transition: none !important;
  }
}
.categories-list .swiper-slide {
  height: auto !important;
}
.categories-list__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--indent_value);
}
.categories-list__wrapper--1 {
  grid-template-columns: 1fr;
}
.categories-list__wrapper--2 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .categories-list__wrapper--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.categories-list__wrapper--3 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .categories-list__wrapper--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .categories-list__wrapper--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.categories-list__wrapper--4 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .categories-list__wrapper--4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .categories-list__wrapper--4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .categories-list__wrapper--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.categories-list__wrapper--5 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .categories-list__wrapper--5 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .categories-list__wrapper--5 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .categories-list__wrapper--5 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1360px) {
  .categories-list__wrapper--5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
.categories-list__wrapper--6 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .categories-list__wrapper--6 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .categories-list__wrapper--6 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .categories-list__wrapper--6 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1360px) {
  .categories-list__wrapper--6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
.categories-list__wrapper--7 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .categories-list__wrapper--7 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .categories-list__wrapper--7 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .categories-list__wrapper--7 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1360px) {
  .categories-list__wrapper--7 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1600px) {
  .categories-list__wrapper--7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
.categories-list__wrapper--8 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .categories-list__wrapper--8 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .categories-list__wrapper--8 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .categories-list__wrapper--8 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1360px) {
  .categories-list__wrapper--8 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1600px) {
  .categories-list__wrapper--8 {
    grid-template-columns: repeat(8, 1fr);
  }
}
.categories-list__wrapper--standard {
  gap: 4rem var(--indent_value);
}
@media screen and (max-width: calc(750px - 1px)) {
  .categories-list__wrapper--2-mobile:not(.categories-list__wrapper--1) {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories-list__wrapper--2-mobile:not(.categories-list__wrapper--1) .categories-list__item-title--inner div {
    padding: 1.6rem 0;
  }
  .categories-list__wrapper--2-mobile:not(.categories-list__wrapper--1) .categories-list__button {
    min-width: 0;
    padding: 1.6rem 1rem;
  }
  .categories-list__wrapper--2-mobile.categories-list__wrapper[class*="--1.6rem"], .categories-list__wrapper--2-mobile.categories-list__wrapper[class*="--2.4rem"] {
    gap: 4rem 0.8rem;
  }
}
.categories-list__wrapper .swiper {
  padding-bottom: 15px !important;
}
@media screen and (max-width: 989px) {
  .swiper--collections .categories-list__wrapper {
    display: flex !important;
    grid-template-columns: none;
    gap: 0 !important;
  }
}
.categories-list .categories-list__item-title--inner {
  text-transform: var(--font-heading-text-transform);
}
.categories-list__item {
  position: relative;
  height: auto;
  border-radius: var(--border-radius-main);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
  overflow: visible;
  z-index: 0;
}
.categories-list__item.without-border-radius {
  border-radius: 0;
}
.categories-list__item-title--inner {
  position: relative;
  margin: 0;
  z-index: 2;
  width: 100%;
}
.categories-list__item-title--inner div {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  margin-bottom: 4px;
}
.categories-list__item-title--inner a div span {
  transition: opacity var(--duration-default);
}
.categories-list__item-title--inner a div span:hover {
  cursor: pointer;
}
.categories-list__item-title--standard {
  margin: 0;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
}
.categories-list__item-title--standard span {
  transition: opacity var(--duration-default) ease-in-out;
  display: block;
  max-height: 100%;
}
.categories-list__item--inactive .categories-list__item-title--standard span {
  opacity: 0.5;
}
.categories-list__item-title--standard:hover > a > span {
  cursor: pointer;
}
.categories-list__item-inner {
  transform-origin: center;
  transition: transform 0.3s ease;
  border: 1px solid rgb(var(--color-border));
  will-change: transform, box-shadow;
  transform-style: flat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}
@media screen and (pointer: fine) {
  .categories-list__item-inner:hover {
    transform: scale(1.02) translateZ(0);
    border: none;
    box-shadow: 0 0 0 1px rgb(var(--color-border-on-hover));
    z-index: 999;
  }
}
@media screen and (pointer: fine) and (min-width: 1100px) {
  .categories-list__wrapper--standard .categories-list__item-inner:hover .categories-list__button-wrapper {
    bottom: 0;
  }
}
@media screen and (pointer: fine) and (max-width: 990px) {
  .categories-list__item-inner:hover {
    transform: none;
  }
}
.categories-list__item-inner {
  background: unset;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-radius: var(--border-radius-main);
}
.categories-list__item-inner .card-link-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: block;
  cursor: pointer;
}
.categories-list__item-inner .button_wrapper {
  z-index: 12;
  width: fit-content;
}
.categories-list__item-inner .item-inner--info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 4rem;
  gap: 1.8rem;
}
@media screen and (min-width: 990px) {
  .categories-list__item-inner .item-inner--info {
    padding: 1rem;
    padding-top: 4rem;
  }
}
.categories-list__item-inner .item-inner--info.left {
  justify-content: space-between;
  padding: 4rem;
}
.categories-list__item-inner .item-inner--info.left div {
  max-width: 23.5rem;
}
.categories-list__item-inner .item-inner--info.top {
  justify-content: flex-start;
  align-items: center;
}
.categories-list__item-inner .item-inner--info.top > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-list__item-inner .item-inner--info.top > div > h4 > div {
  justify-content: center;
}
.categories-list__item-inner .item-inner--info > div {
  gap: 0.4rem;
}
.without-border-radius .categories-list__item-inner {
  border-radius: 0;
}
.categories-list__wrapper--overlay .categories-list__item-inner {
  height: 100%;
}
.categories-list__item-inner::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.categories-list__item-inner.large::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: 100vh;
}
.categories-list__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: scale var(--duration-default) ease-in-out;
}
.categories-list__image img,
.categories-list__image svg.placeholder-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories-list__image .placeholder-svg {
  fill: currentColor;
}
.categories-list__overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(var(--color-overlay));
  opacity: var(--opacity-overlay);
}
@media screen and (min-width: 1100px) {
  .categories-list__overlay {
    opacity: 0;
  }
}
.categories-list__overlay-link {
  display: block !important;
  position: absolute;
  inset: 0;
}
.categories-list__button {
  width: 100%;
  min-width: 0;
}
.categories-list__button-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0.8rem;
  transition: bottom var(--duration-default) ease-in-out;
}
@media (min-width: 1100px) {
  .categories-list__button-wrapper {
    bottom: -6.6rem;
  }
}
.categories-list .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(var(--color-foreground-tertiary)) !important;
}
.categories-list .swiper .magnetic-hover-effect {
  transform: none;
  box-shadow: none;
}
.categories-list .swiper .magnetic-hover-effect::after {
  display: none;
}
.categories-list .swiper .categories-list__item-inner {
  transform: none;
  box-shadow: none;
  border: 1px solid rgb(var(--color-border));
}
.categories-list .swiper .categories-list__item-inner::after {
  display: none;
}

.template-list-collections .categories-list .collection-card__content {
  width: 100%;
}
.template-list-collections .categories-list .collection-card__content.center {
  text-align: center;
}
.template-list-collections .categories-list .collection-card__content.center .collection-card__btn {
  justify-content: center;
  align-items: center;
}