@media screen and (max-width: 576px) {
  .card-slider {
    overflow: hidden;
  }
  .card-slider .swiper.card-slider__container {
    overflow: visible !important;
  }
}
.card-slider .swiper-button {
  position: absolute;
  transition: none;
  display: none;
}
.card-slider .swiper-button-prev {
  left: 3rem;
}
.card-slider .swiper-button-next {
  right: 3rem;
}
.card-slider .swiper-button-disabled {
  visibility: hidden;
}
.card-slider .swiper-pagination::-webkit-scrollbar {
  height: 0.4rem;
}
.card-slider .swiper-pagination::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-border), 0.5);
  border-radius: 2rem;
}
@media screen and (min-width: 990px) {
  .card-slider .swiper-pagination {
    display: none;
  }
}
.card-slider .info-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius-main);
  border: 0.1rem solid rgba(var(--color-border));
  overflow: hidden;
  background-color: #000;
  color: rgb(var(--color-foreground-secondary));
  transition: all var(--duration-default) ease-in-out !important;
  height: 100%;
}
.card-slider .info-card__image-container {
  position: relative;
  width: 100%;
  display: flex;
  height: 100%;
}
.card-slider .info-card__image-container::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / var(--aspect-ratio, 4/3));
}
.card-slider .info-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all var(--duration-default) ease-in-out;
  border-radius: var(--border-radius-main);
}
@media screen and (max-width: 750px) {
  .card-slider .info-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(var(--color-overlay), 0.4);
  }
}
.card-slider .info-card__content {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: flex-end;
  z-index: 1;
  width: 100%;
  z-index: 6;
}
@media screen and (max-width: 750px) {
  .card-slider .info-card__content {
    padding: 1.4rem;
  }
}
.card-slider .info-card__content .button--link {
  line-height: 1.2;
}
.card-slider .info-card__heading {
  margin: 0;
  text-transform: var(--font-heading-text-transform);
}
@media screen and (max-width: 750px) {
  .card-slider .info-card__heading {
    font-size: 1.6rem;
  }
}
@media screen and (pointer: fine) {
  .card-slider .info-card:hover {
    border: 0.1rem solid rgb(var(--color-border-on-hover));
  }
}
@keyframes infoCardAnimation {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.card-slider .js-appearance-animation .info-card {
  transform: translateY(20%);
  transition: all var(--duration-default) ease-in-out !important;
  opacity: 0;
}
.card-slider .js-appearance-animation .info-card.animated {
  animation: infoCardAnimation 1s linear(0, 0.1538 4.09%, 0.2926 8.29%, 0.4173 12.63%, 0.5282 17.12%, 0.6255 21.77%, 0.7099 26.61%, 0.782 31.67%, 0.8425 37%, 0.8887 42.23%, 0.9257 47.79%, 0.9543 53.78%, 0.9752 60.32%, 0.9883 67.11%, 0.9961 75%, 1) var(--info-card-anim-delay, 0s) forwards;
}
.card-slider .js-info-card-hover-effect {
  content: "";
  display: none;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  border-radius: 30%;
  opacity: 0;
  pointer-events: none;
  background: radial-gradient(circle, rgba(var(--color-accent), 1) 0%, rgba(var(--color-accent), 0.7) 35%, rgba(var(--color-accent), 0.4) 60%, rgba(var(--color-accent), 0.2) 85%);
  filter: blur(30px);
  transform: translate(calc(-50% + var(--glow-translate-x, 0px)), calc(-50% + var(--glow-translate-y, 0px)));
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
@media screen and (hover: hover) and (pointer: fine) {
  .card-slider .js-info-card-hover-effect {
    display: block;
  }
}
.card-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(var(--color-foreground-tertiary)) !important;
}

.card-slider__wrapper {
  position: relative;
}
.card-slider__wrapper .card-slider__button {
  width: 44px;
  height: 44px;
}
.card-slider__wrapper .collection-popular-card--placeholder {
  margin-right: 2.4rem;
}
.card-slider__wrapper .swiper-button {
  position: absolute;
}
.card-slider__wrapper .info-card__link-overlay {
  display: block !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.card-slider__wrapper:not(.slider-initialized) .card-slider__navigation {
  display: none;
}
.card-slider__wrapper.slider-initialized .swiper-pagination-bullet-active::before {
  transform: scaleX(1) !important;
}

.card-slider__container {
  overflow: visible;
  overflow-x: clip;
}
.card-slider__container:not(.swiper-initialized) .swiper-slide {
  margin-inline-end: 0.8rem;
}
@media screen and (min-width: 576px) {
  .card-slider__container:not(.swiper-initialized) .swiper-slide {
    margin-inline-end: 1.2rem;
  }
}
@media screen and (min-width: 990px) {
  .card-slider__container:not(.swiper-initialized) .swiper-slide {
    margin-inline-end: 1.4rem;
  }
}

.card-slider__slides {
  display: flex;
  overflow: visible;
}

.card-slider__slide {
  flex-shrink: 0;
  transition: all var(--duration-default) ease-in-out !important;
  border-radius: var(--border-radius-main);
  height: auto;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .card-slider__slide {
    width: calc((100% - 0.8rem) / 2);
  }
}
@media screen and (min-width: 750px) {
  .card-slider__slide {
    width: calc((100% - 2.8rem) / 3);
  }
}
@media screen and (min-width: 990px) {
  .card-slider__slide {
    width: calc((100% - 4.2rem) / 4);
  }
}
@media screen and (min-width: 1100px) {
  .card-slider__slide {
    width: calc((100% - 1.4rem * (var(--columns-per-row, 4) - 1)) / var(--columns-per-row, 4));
  }
}
@media screen and (min-width: 1360px) {
  .card-slider__slide {
    width: calc((100% - 1.4rem * (var(--columns-per-row, 4) - 1)) / var(--columns-per-row, 4));
  }
}

.card-slider__navigation {
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: -2rem;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
  width: 103%;
}
@media screen and (min-width: 990px) {
  .card-slider__navigation {
    display: flex;
  }
}

.card-slider__button {
  background-color: rgb(var(--color-background-tertiary));
  border: 1px solid rgb(var(--color-border));
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: auto;
  color: rgb(var(--color-accent));
  transition: all var(--duration-default) ease-in-out !important;
}
.card-slider__button:hover:not(.swiper-button-disabled) {
  border-color: rgb(var(--color-border-on-hover));
}
.card-slider__button--prev svg {
  transform: rotate(180deg);
}
.card-slider__button--next svg {
  transform: rotate(0deg);
}

.no-js .card-slider .card-slider__slides .info-card {
  transform: translateY(0);
  opacity: 1;
}